<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Find Your Most Used Social Media Platform!</title>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      </head>
      <body>
        <h2>Which one of these people are you most familiar with?</h2>
        <input type="question" name="person" value="3">Shane Dawson<br>
        <input type="question" name="person" value="1">Kanye West<br>
        <input type="question" name="person" value="2">Selena Gomez<br>
        <input type="question" name="person" value="4">Backpack Boy<br>
        <h2>How long would an average video that you would watch be?</h2>
        <input type="question" name="video" value="1">2 minutes<br>
        <input type="question" name="video" value="2">30 seconds<br>
        <input type="question" name="video" value="4">7 seconds<br>
        <input type="question" name="video" value="3">10 minutes<br>
        <h2>What do you like to do when you're stressed?</h2>
        <input type="question" name="hobby" value="">Catch up on celeberities/news<br>
        <input type="question" name="hobby" value="">Cook<br>
        <input type="question" name="hobby" value="">Play video games<br>
        <input type="question" name="hobby" value="">Watch beauty/makeup videos<br>
        <button type= "submit"></button>
      </body>
      </html>